
body{
    background: url("../images/chestnut_horse.jpg");
    height: auto;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lilita One', cursive;
    
}
.container-fluid{
    height: 100vh;
    }
.row{
    height: 33.33%
}
.smallRow{
    height: 50%;
    
}
.col-6{
    height: 100%;
    padding: 0;
    border: 2px solid #4A5054;
}

p, h3{
    color: #4A5054;
    text-align: center;
}
h1{
    padding-top: 120px;
    text-align: center;
    font-size: 4rem;
    color:#A8B5BF;
}
#key{
    padding-top: 210px;
    padding-left: 550px;
    color: #4A5054;
}
#secondRow{
    margin: 0 10px 0 10px;
}
#showBorder{
    border-bottom: 1px solid #4A5054;
}
@media only screen and (max-width: 870px){
    h4{
        padding-left: 400px;
    }
}
@media only screen and (max-width: 670px){
    h4{
        padding-left: 200px;
    }
}
@media only screen and (max-width: 475px){
    h4{
        padding-left: 100px;
        padding-top: 225px;
    }
    h1{
        font-size: 3.5rem;
    }
}