
body{
    height: auto;
    font-family: 'Lilita One', cursive;  
  
}
.full-image{
    background-image: url("../images/chestnut_horse_edit.png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.container-fluid{
    height: 100vh;
}
.row{
    height: 33.33%
}
.smallRow{
    height: 50%;
    
}
.col-6, .col-8, .col-4{
    height: 100%;
    padding: 0;
    border: 2px solid #383C40;
}

p, h3{
    color: #383C40;
    text-align: center;
}
h1{
    padding-top: 120px;
    text-align: center;
    font-size: 4rem;
    color:#707980;
}
#key{
    padding-top: 170px;
    padding-left: 550px;
    color: #383C40;
}
#secondRow{
    margin: 0 10px 0 10px;
}
#showBorder{
    border-bottom: 1px solid #383C40;
}
#wordToGuess{
    font-size: 75px;
    text-align: center;
}
@media only screen and (max-width: 870px){
    #key{
        padding-left: 350px;
    }
    
    
}
@media only screen and (max-width: 630px){
    #key{
        padding-left: 100px;
    }
}
@media only screen and (max-width: 530px){
    #key{
        padding-left: 75px;
        padding-top: 150px;
    }
    h1{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 270px){
    
    h1{
        font-size: 2rem;
    }
}
